footer {
    background-color: steelblue;
    color: white;
}

footer p {
    padding: 25px;
}

h1 {
    margin: 50px 0;
}

nav {
    background-color: steelblue;
}
a {
    color: white;
}

nav {
    padding: 25px;
}

a {
    padding: 25px;
}

body {
    margin: 100px;
}

img {
    border: 4px solid steelblue;
}