.parent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
    /*grid-template-rows: repeat(3, 1fr) 3fr;
    */
    grid-column-gap: 9px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 7; }
    .div2 { grid-area: 2 / 1 / 3 / 7; 
        display: block;
        margin: 0 auto;
        width: 800px;
    padding-top: 5px;
    }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 3 / 2 / 4 / 3; }
    .div5 { grid-area: 4 / 2 / 5 / 3; }
    .div6 { grid-area: 3 / 3 / 4 / 4; }
    .div7 { grid-area: 3 / 4 / 4 / 5; }
    .div8 { grid-area: 4 / 4 / 5 / 5; }
    .div9 { grid-area: 3 / 5 / 4 / 6; }
    .div10 { grid-area: 3 / 6 / 4 / 7; }
    .div11 { grid-area: 4 / 6 / 5 / 7; }
     

nav {

    display: flex;
    justify-content: space-around;
}

.image {
    width: 800px;
    padding-top: 5px;
    margin: auto;
}

#logo_link  {
    width: 80px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    
    text-align: center;
}


.logo  {
    width: 80px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    margin: auto;
    text-align: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4 {
    color: white;
}

.home-grid{

    display: grid;
    grid-template-columns : repeat(10, 1fr);
}

.card-img, .mountains {
    width: 100%;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
} 

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

/*nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
    
    text-align: center;
    
    margin-right: 0 auto;
}
#background {
    height: 725px;
    background-color: green;   
    color : red;
}

:root {
    --heading-font: Niconne;
    --paragraph-font: Quintessential, Helvetica, sans-serif;
  
}
*/
@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Niconne:ital,wght@0,400;0,700;1,400&display=swap');

.home-title {
    font-family: Niconne;
    font-size: 2em;
    color : red;
    margin-top: 10px;
    
    text-align: center;
    }
    .home-title2 {
        font-family: Niconne;
        font-size: 2em;
        color : rgb(54, 83, 211);
        margin-top: 10px;
        
    text-align: center;
        }
    


/*#logo_link*/


.msg p {
    font-size: .8em;
    color : red;
    padding-bottom: 15px;
}

h3 {
    
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Niconne;
    color: var(--headline-color-on-white);
    text-align: center;
  }
 #content {
    max-width: 1600px;
    margin: 0 auto;
    /*margin-right: 0 auto;*/
}


nav a { 
    text-align: center;
    text-decoration: none;
    color : red;
    padding: 35px;
}
nav a:hover {
    background-color: green;
    color : red;
}
#hero-msg h1, #hero-msg h4 { 
    text-align: center;
}
.button-box { 
    text-align: center;
}
main section, .home-grid, .rivers-card, .camping-card, .rapids-card
{ 
    text-align: center;
}

main section img{
    box-sizing: border-box;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
    
    border: 10px;
}
.card-image , .hero{
    border: 10px solid black;
}

#background {
    height: 725px;
}

body
header {
    display: grid;
    grid-template-columns: 150px auto;

    background-color: rgba(0,128,0,.3);
    color : red;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
.book, .join {
    background-color: rgb(198, 218, 27);
    color : red;
    text-decoration: none;
    font-size : 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius : 5px;
}

.book:hover, .join:hover {
    background-color: green;
    color : red;
}
#background {
    background-color: green;
    color : red;
}

footer .social img{
    padding-top: 15px;
}

footer {
    background-color: green;
    color : red;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}               
 


h4 {
    color : red;
}

.msg {
    background-color: green;
    color : red;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    color : red;
}



footer h3 {
    color : red;
}

footer a {
    color : red;
}

footer a:hover {
    color : red;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}