body {
    background-color:#E7E9EB;
  }
  #myDIV {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
  }
  #inHeader {
    max-width: 1600px;
    margin: 0 auto;
    /*margin-right: 0 auto;*/
}

  ul.item6 {
    list-style-position: outside;
  }
  #myDIV item6 {
    background-color: rgba(255, 255, 255, 0.8);
    list-style-position: outside;
    font-size: 20px;
  }
  
  li {
    list-style-position: outside;
    padding-left: 0.5em;
  }
  #myDIV div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 20px 0;
    font-size: 2  0px;
  }
  
  .centered {

    text-align: center;

  }
  .item1 {
    grid-column: 1 / span 4;
      
  }
  .item2 {
    grid-column: 1 / span 2;
  }
  .item3 {
    grid-column: 3 / span 2;
  }
  .item4 {
    grid-column: 1 / span 2;
  }
  .item5 {
    grid-column: 3 / span 2;
  }
  .item6 {
    grid-column: 1 / span 4;
  }
  .item7 {
    grid-column: 1 / span 2;
  }
  .item8 {
    grid-column: 1 / span 2;
  }
  .item9 {
    grid-column: 1 / span 2;
  }
.item7 {  grid-column: 3 / span 2;}
  .logo  {
    width: 80px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    margin: auto;
    text-align: center;
  }
  
  #logo_link  {
    width: 80px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    
    text-align: center;
  }
  .logo  {
    width: 80px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    
    margin: auto;
    text-align: center;
}

  

/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway');
/* This should work... WHY NOT */
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #191fe0   ;
  --secondary-color: #2ee026 ;
  --accent1-color: #e07a10;
  --accent2-color: #e0b709;

  /* change the values below to your chosen font(s) */
  --heading-font: "Indie Flower";
  --paragraph-font: Raleway, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #191fe0;  /* headlines on a white background */ 
  --headline-color-on-color: #e0b709; /* headlines on a colored background */ 
  --paragraph-color-on-white: #191fe0; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #e0b709; /* paragraph text on a colored background */ 
  --paragraph-background-color: #191fe0  ;
  --nav-link-color: #191fe0;
  --nav-background-color: #e07a10;
  --nav-hover-link-color: #e0b709;
  --nav-hover-background-color: #191fe0;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(218, 33, 33);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* contact me form css */
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

 /* end of contact me form css   */
.headline {
  display: inline;
  padding: 50px;
}
/*.item1 {
  grid-column: 1 / span 2;
}
.item2 {
  grid-column: 3 / span 2;
}


 bio hide details with css   */

 .details, 
 .show,
 .hide:target {
   display: none;
 }
 .hide:target + .show,
 .hide:target ~  .details {
   display: block;
 }
 
/* bio hide details with css   */

span.a {
  display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;  
  background-color: yellow; 
}


footer .social img{
    padding-top: 15px;
}

footer {
    background-color: green;
    color : red;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}             

/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: justify;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
  
}
li{
  text-align: left;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.column {
    float: left;
    width: 12.5%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

p {
  text-align: left;
}

.logo  {
  width: 80px;
  padding-top: 5px;
  justify-self: center;
  align-self: center;
  margin: auto;
  text-align: center;
}

#logo_link  {
  width: 80px;
  padding-top: 5px;
  justify-self: center;
  align-self: center;
  
  text-align: center;
}


nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
#content {
  max-width: 1600px;
  margin: 0 auto;
  /*margin-right: 0 auto;*/
}
nav {

  display: flex;
  justify-content: space-around;
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}